fontconfig/test/cache.fc
unicodedata/generate/ucd.nounihan.grouped.xml
harfbuzz/testdata/harfbuzz_reference/in-house/macos/**
.mypy_cache/*
**/__pycache__/*
graphite/testdata/trace.json
pango/fcfonts/testdata/cache.fc
pango/test/cache.fc
